<h2 class="heading-medium {{printClass}}">Using Vehicle Recall Information</h2>

<p class="{{printClass}}">
    DVSA and its suppliers try to ensure that the information published on this
    website is accurate. However, as the information is aggregated from
    various sources, we can’t accept any liability for the accuracy of content.
    This service provides an indicative check for outstanding safety recalls as
    at the date specified. Visitors and customers who rely on this information
    do so at their own risk. Visitors and customers are strongly encouraged to
    independently verify the information before acting or deciding not to act
    on that information.
</p>
<p class="{{printClass}}">
    The recalls data is obtained through a third party. The terms and
    conditions for the data can be found on <a href="https://www.themotorombudsman.org/vehicle-recalls" target="_blank">the Motor Ombudsman’s vehicle recalls page</a> by selecting the ‘terms and conditions’ link.
</p>