{{> breadcrumbs}}

<h1 class="heading-xlarge">Cookies</h1>

<div class="grid-row">
    <div class="column-two-thirds">

        <p class="lede">The MOT history service stores small files (known as ‘cookies’) onto
            your computer to collect information about how you browse the site.</p>

        <p>Cookies are used to:</p>
        <ul class="list-bullet u-space-b30">
            <li>measure how you use the service so it can be updated and improved based on your needs</li>
            <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
            <li>make your experience on the website as smooth as possible</li>
        </ul>

        <div role="note" aria-label="Information" class="panel panel-indent">
            <p>Cookies on the MOT history service aren’t used to identify you.</p>
        </div>

        <p>You’ll see a message on the site to tell you we will be storing cookies on your computer.</p>

        <p>By continuing to browse the site, you are agreeing to our use of cookies.</p>

        <p>Find out <a href="https://www.aboutcookies.org/">how to manage cookies</a>.</p>

        <h2 class="heading-medium">How cookies are used on the MOT history service</h2>
        <p>MOT history service uses many different types of cookies to make sure it works securely
            and consistently. The service uses the following cookies:</p>
        <ul class="list-bullet u-space-b30">
            <li>MOT history service application cookies</li>
            <li>Google Analytics cookies</li>
            <li>Incapsula cookies</li>
            <li>Hotjar cookies</li>
            <li>SmartSurvey cookies</li>
            <li>Cross-site request forgery protection cookies</li>
        </ul>

        <h3 class="heading-small">MOT history service application cookies</h3>
        <p>You’ll see a pop-up message about cookies being used on the MOT history service when
            you first visit the site. We’ll store a cookie on your computer so that the message will not be
            shown to you again for 28 days.</p>

        <table class="generic-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>seen_cookie_message</td>
                    <td>Lets us know that you’ve seen our cookie message</td>
                    <td>28 days</td>
                </tr>
                <tr>
                    <td>seen_user_survey</td>
                    <td>Lets us know that you’ve seen our user satisfaction survey</td>
                    <td>30 days</td>
                </tr>
            </tbody>
        </table>


        <h3 class="heading-small">Google Analytics cookies</h3>

        <p>We use Google Analytics software to collect information about how you use the MOT history
            service. Google Analytics helps us make the service better for its users.</p>

        <p>Google Analytics stores information about:</p>

        <ul class="list-bullet u-space-b30">
            <li>the pages you visit on the MOT history service</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you’re visiting the site</li>
        </ul>

        <p>Google doesn’t collect or store your personal information, such as your name or address, so
            this information can’t be used to identify who you are. We don’t allow Google to use or share
            our analytics data.</p>

        <p>Google Analytics stores the following cookies on your computer:</p>

        <table class="generic-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td>Used to count how many people visit the MOT history service by tracking if you’ve visited before</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>Used to manage the rate at which page view requests are made</td>
                    <td>10 minutes</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>Used to distinguish between users of the MOT history service</td>
                    <td>24 hours</td>
                </tr>
            </tbody>
        </table>

        <p>You can <a href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.</p>

        <h3 class="heading-small">Incapsula cookies</h3>
        <p>The MOT history service uses a third-party service, Incapsula, to protect our service from
            malicious requests.</p>
        <p>Incapsula stores the following cookies on your computer:</p>

        <table class="generic-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_visid_incap</td>
                    <td>Used to relate sessions to a specific visitor’s device.</td>
                    <td>1 year</td>
                </tr>
                <tr>
                    <td>_incap_ses</td>
                    <td>Used to relate HTTP requests to a particular visit.</td>
                    <td>When you close your browser</td>
                </tr>
                <tr>
                    <td>_nlbi</td>
                    <td>Used to direct website traffic load to servers.</td>
                    <td>When you close your browser</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-small">Hotjar cookies</h3>
        <p>Sometimes we use Hotjar pop-up surveys to collect feedback about the MOT history
            service. Hotjar surveys help us make the service better for its users.</p>
        <p>Hotjar stores the following cookies on your computer:</p>

        <table class="generic-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_hjClosedSurveyInvites</td>
                    <td>Used if you interact with a pop-up survey. It makes sure that the same invite doesn’t re-appear if it’s already been shown.</td>
                    <td>365 days</td>
                </tr>
                <tr>
                    <td>_hjDonePolls</td>
                    <td>Used if you complete a pop-up survey. It makes sure the same survey doesn’t appear again.</td>
                    <td>365 days</td>
                </tr>
                <tr>
                    <td>_hjMinimizedPolls</td>
                    <td>Used if you minimise a pop-up survey. It makes sure that the survey stays minimised.</td>
                    <td>365 days</td>
                </tr>
                <tr>
                    <td>_hjDoneTestersWidgets</td>
                    <td>Used if you complete a pop-up survey asking you to take part in research. It makes sure the same survey doesn’t appear again.</td>
                    <td>365 days</td>
                </tr>
                <tr>
                    <td>_hjMinimizedTestersWidgets</td>
                    <td>Used if you minimise a pop-up survey asking you to take part in research. It makes sure that the survey stays minimised.</td>
                    <td>365 days</td>
                </tr>
                <tr>
                    <td>_hjIncludedInSample</td>
                    <td>Used to show if you are included in a sample currently being monitored in Hotjar.</td>
                    <td>365 days</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-small">SmartSurvey cookies</h3>
        <p>We use SmartSurvey to collect feedback about the MOT history service. If you fill in a
            survey, SmartSurvey will save cookies on your computer to track your progress through it.</p>
        <p>Find out more about <a href="https://www.smartsurvey.co.uk/how-we-use-cookies">SmartSurvey cookies</a>.</p>

        <h3 class="heading-small">Cross-site request forgery (CSRF) protection cookie</h3>
        <p>This cookie protects our service against cross-site request forgery (CSRF) attacks. We store
            the cookie on your computer when you visit the MOT history service start page. When you
            search for vehicle details, the cookie confirms that the search came from our start page.</p>
        <p>The cookie expires when you close your browser.</p>

        <h2 class="heading-medium">Cookies on other government services</h2>
        <p>Most services we link to are run by different government departments, for example HM
            Revenue and Customs (HMRC) or the Home Office.</p>
        <p>These services may store additional cookies on your computer and, if so, will have their own
            cookie policies.</p>

    </div>
</div>