<div>
    <a class="link-back" href="https://www.gov.uk/check-mot-history">Back</a>
</div>

<div class="grid-row">
    <div class="column-two-thirds">

        
        <h1 class="heading-large">What is the vehicle's registration number?</h1>

        <form method="POST" name="moth-search" id="EVL" action="&#x2F;">
        <fieldset>
            <legend class="form-title heading-medium visuallyhidden">Enter the vehicle registration</legend>
                <input type="hidden" name="_csrf_token" value="34175876-22BB-0EDF-94A2-4322A6B87A6D">
                                                                                            <div class="form-group it-290 tyu-33">
                        
                        <label class="form-label form-label-bold" for="registration">
                            <span>This field should be left empty</span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="registration" id="registration" class="form-control" tabindex="-1" value="">
                        </div>
                                                                                            <div class="form-group it-290 it-290">
                        
                        <label class="form-label form-label-bold" for="6364377924">
                            <span><span class="sr-only">Enter your</span> Registration number (number plate) <span class="sr-only">into this field only</span></span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="6364377924" id="6364377924" class="form-control" value="">
                        </div>
                                                                                            <div class="form-group honey-pot robo-cop">
                        
                        <label class="form-label form-label-bold" for="1207877553">
                            <span>This field should be left empty</span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="1207877553" id="1207877553" class="form-control" tabindex="-1" value="">
                        </div>
                                                                                            <div class="form-group honey-pot isOnshow">
                        
                        <label class="form-label form-label-bold" for="reg-number">
                            <span>Do not enter anything in this field</span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="reg-number" id="reg-number" class="form-control" tabindex="-1" value="">
                        </div>
                                                                                            <div class="form-group bee-hive salad-box">
                        
                        <label class="form-label form-label-bold" for="2002337829">
                            <span>Do not enter any information in this field</span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="2002337829" id="2002337829" class="form-control" tabindex="-1" value="">
                        </div>
                                                                                            <div class="form-group keep-hidden r-f">
                        
                        <label class="form-label form-label-bold" for="registration-number">
                            <span>Do not fill this field</span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="registration-number" id="registration-number" class="form-control" tabindex="-1" value="">
                        </div>
                                                                                            <div class="form-group hush-now blocked">
                        
                        <label class="form-label form-label-bold" for="vehicle-manufacturer">
                            <span>Leave this field empty</span>
                            <span class="form-hint">For example, CU57ABC</span>
                                                    </label>

                        <input type="text" name="vehicle-manufacturer" id="vehicle-manufacturer" class="form-control" tabindex="-1" value="">
                        </div>
                            </fieldset>

        <div class="form-group">
            <input type="submit" name="submit" class="button" value="Continue">
        </div>

        </form>
        <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                <span class="summary" id="looking-for-trailer-section">Looking for HGV trailer history?</span>
            </summary>
            <div class="panel panel-indent" id="details-content-0" aria-hidden="true">
                <p>Enter the trailer identification number to search for HGV trailer history.</p>
                <p>For example, C236718 or A787121.</p>
            </div>
        </details>
    </div>
</div>

<div class="input-block "></div>